header {
    background-color: black;
    height: 80px;

    .nav__container {
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        max-width: 1200px;

        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .nav__toggle-checkbox {
                display: none;
            }

            .nav__toggle-label {
                background: transparent;
                border: none;
                cursor: pointer;
                position: absolute;
                right: 2rem;
                z-index: 999;

                .nav__toggle-icon {
                    width: 30px;
                    height: 3px;
                    background-color: #fff;
                    display: block;
                    position: relative;
                    transition: transform 0.3s ease-in-out;

                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: inherit;
                        transition: transform 0.3s ease-in-out;
                    }

                    &::before {
                        transform: translateY(-8px);
                    }

                    &::after {
                        transform: translateY(8px);
                    }
                }
            }

            .nav__logo {
                padding: 0 16px;

                img {
                    width: 100px;
                    max-width: 100%;
                }
            }

            .nav__list {
                list-style: none;
                display: flex;
                align-items: center;

                .nav__item {
                    position: relative;
                    padding: 1rem;
                    padding-left: 1.5rem;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 5px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 1px;
                        opacity: 0.5;
                        height: 60%;
                        background-color: #fff;
                    }

                    &:first-child::before {
                        display: none;
                    }

                    .nav__link {
                        text-decoration: none;
                        color: white;
                        font-size: 1.25rem;
                        position: relative;

                        &::after {
                            content: "";
                            position: absolute;
                            bottom: -5px;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 0;
                            height: 3px;
                            background-color: white;
                            transition: width 0.2s ease-in-out;

                            @media (max-width: 991px) {
                                left: 50px;
                                bottom: -5px;
                                width: 100px;
                                height: 4px;
                            }
                        }

                        &:hover::after {
                            width: 100%;
                        }
                    }

                    &.red-after .nav__link::after {
                        background-color: firebrick;
                    }

                    &.yellow-after .nav__link::after {
                        background-color: yellow;
                    }

                    &.blue-after .nav__link::after {
                        background-color: rgb(90, 90, 255);
                    }
                }
            }
        }

        @media (max-width: 991px) {
            .nav__toggle-checkbox:not(:checked) ~ .nav__list {
                display: none;
            }

            .nav__toggle-checkbox:checked ~ .nav__list {
                display: flex;
                background-color: black;
                position: fixed;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: start;
                margin-top: 300px;
                padding: 4rem 0 4rem;
                width: 100%;
                height: 140px;
                transition: display 0.3s;
            }

            .nav__toggle-checkbox:checked
                + .nav__toggle-label
                .nav__toggle-icon::before {
                transform: translateY(0) rotate(90deg);
            }

            .nav__toggle-checkbox:checked
                + .nav__toggle-label
                .nav__toggle-icon::after {
                display: none;
            }

            .nav__toggle-checkbox:checked
                + .nav__toggle-label
                .nav__toggle-icon {
                transform: translateY(0) rotate(-45deg);
            }

            .nav__toggle-checkbox {
                display: none;
            }

            .nav__toggle-label {
                display: block;
                background: transparent;
                border: none;
                cursor: pointer;
                position: absolute;
                right: 2rem;
                z-index: 999;
                order: 2;
            }

            .nav__item::before {
                display: none;
            }
        }

        @media (min-width: 992px) {
            .nav__toggle-label {
                display: none;
            }

            .nav__list {
                display: flex;
                align-items: center;
                margin-left: 25px;
            }
        }
    }
}
