.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 100px;

    .form-item {
        margin-bottom: 20px;

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
            color: #333;
        }

        .form-field {
            display: flex;
            align-items: center;

            .form-field-textual {
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 14px;
                width: 100%;
            }
        }
    }

    .form-item.checkbox-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        label {
            margin-left: 5px;
            color: #333;
        }

        input[type="checkbox"] {
            margin-right: 5px;
        }
    }

    .buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;

        button {
            padding: 10px 20px;
            background-color: #3b98ee;
            color: #fff;
            border: none;
            border-radius: 4px;
            font-size: 14px;
            cursor: pointer;
            margin-left: 10px;

            &[type="reset"] {
                background-color: firebrick;

                &:hover {
                    background-color: darkred;
                }
            }

            &:hover {
                background-color: #063b69;
            }
        }
    }
}
