@import "header";
@import "footer";
@import "unos";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

html {
    font-family: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

.container {
    max-width: 1140px;
    margin-inline: auto;
    padding: 0 16px;
}

.welcome {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;

    h1 {
        font-size: 1.25rem;
        color: darkslategray;

        @media (min-width: 991px) {
            font-size: 1.75rem;
        }
    }

    .todays-date {
        font-size: 1rem;
        color: darkslategray;

        @media (min-width: 991px) {
            font-size: 1.25rem;
        }
    }
}

main {
    padding-top: 80px;
}

section {
    &.news,
    &.sport,
    &.culture {
        margin-bottom: 60px;

        .articles__container {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;

            @media (min-width: 991px) {
                grid-template-columns: repeat(3, 1fr);
            }

            .media_body {
                a {
                    text-decoration: none;
                    color: darkslategray;
                    font-size: 1.5rem;
                }
            }

            .summary {
                font-size: 1.125rem;
            }
        }

        &.red-before .section__title::before {
            background-color: firebrick;
        }

        &.yellow-before .section__title::before {
            background-color: rgb(131, 131, 12);
        }

        &.green-before .section__title::before {
            background-color: green;
        }
    }

    .section__title {
        margin-bottom: 15px;
        position: relative;
        padding-left: 10px;

        &::before {
            content: "";
            position: absolute;
            left: 0px;
            width: 5px;
            height: 100%;

            @media (max-width: 991px) {
                bottom: -5px;
                width: 100px;
                height: 5px;
            }
        }
    }
}

.admin {
    .category-dropdown {
        padding: 15px 0;

        select {
            padding: 5px;
        }
    }

    form {
        padding: 20px;
        position: relative;
        margin-bottom: 40px;

        .admin-form-content {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
            padding: 5px;

            @media (min-width: 991px) {
                grid-template-columns: repeat(3, 1fr);
            }

            .form-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                background-color: #e0e0e0;
                border-radius: 5px;
                gap: 5px;

                @media (min-width: 991px) {
                    gap: 10px;
                }

                .form-field {
                    input,
                    select {
                        padding: 5px;
                        border-radius: 10px;
                    }

                    #archive {
                        width: 20px;
                        height: 20px;

                        &:checked {
                            background-color: green;
                        }
                    }
                }
            }
        }

        .form-item {
            button {
                padding: 10px 10px;
                margin: 5px 10px 0px;
                border: none;
                border-radius: 3px;
                color: white;
                font-size: 1rem;
                cursor: pointer;

                @media (min-width: 991px) {
                    padding: 10px 20px;
                    font-size: 1.25rem;
                    margin: 10px 15px 0;
                }

                &[type="reset"] {
                    background-color: orange;
                    border: none;
                    border-radius: 3px;
                    color: white;
                }

                &[name="update"] {
                    background-color: darkslateblue;
                }

                &[name="delete"] {
                    background-color: crimson;
                }
            }
        }

        &::before {
            content: "";
            position: absolute;
            left: 10px;
            width: 3px;
            height: 97%;
        }

        &.red-before::before {
            background-color: firebrick;
        }
        &.yellow-before::before {
            background-color: rgb(131, 131, 12);
        }
        &.green-before::before {
            background-color: green;
        }
    }
}
