@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
header {
  background-color: black;
  height: 80px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}
header .nav__container {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1200px;
}
header .nav__container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .nav__container nav .nav__toggle-checkbox {
  display: none;
}
header .nav__container nav .nav__toggle-label {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  z-index: 999;
}
header .nav__container nav .nav__toggle-label .nav__toggle-icon {
  width: 30px;
  height: 3px;
  background-color: #fff;
  display: block;
  position: relative;
  transition: transform 0.3s ease-in-out;
}
header .nav__container nav .nav__toggle-label .nav__toggle-icon::before, header .nav__container nav .nav__toggle-label .nav__toggle-icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: inherit;
  transition: transform 0.3s ease-in-out;
}
header .nav__container nav .nav__toggle-label .nav__toggle-icon::before {
  transform: translateY(-8px);
}
header .nav__container nav .nav__toggle-label .nav__toggle-icon::after {
  transform: translateY(8px);
}
header .nav__container nav .nav__logo {
  padding: 0 16px;
}
header .nav__container nav .nav__logo img {
  width: 100px;
  max-width: 100%;
}
header .nav__container nav .nav__list {
  list-style: none;
  display: flex;
  align-items: center;
}
header .nav__container nav .nav__list .nav__item {
  position: relative;
  padding: 1rem;
  padding-left: 1.5rem;
}
header .nav__container nav .nav__list .nav__item::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  opacity: 0.5;
  height: 60%;
  background-color: #fff;
}
header .nav__container nav .nav__list .nav__item:first-child::before {
  display: none;
}
header .nav__container nav .nav__list .nav__item .nav__link {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  position: relative;
}
header .nav__container nav .nav__list .nav__item .nav__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: white;
  transition: width 0.2s ease-in-out;
}
@media (max-width: 991px) {
  header .nav__container nav .nav__list .nav__item .nav__link::after {
    left: 50px;
    bottom: -5px;
    width: 100px;
    height: 4px;
  }
}
header .nav__container nav .nav__list .nav__item .nav__link:hover::after {
  width: 100%;
}
header .nav__container nav .nav__list .nav__item.red-after .nav__link::after {
  background-color: firebrick;
}
header .nav__container nav .nav__list .nav__item.yellow-after .nav__link::after {
  background-color: rgb(131, 131, 12);
}
header .nav__container nav .nav__list .nav__item.green-after .nav__link::after {
  background-color: green;
}
header .nav__container nav .nav__list .nav__item.blue-after .nav__link::after {
  background-color: rgb(90, 90, 255);
}
@media (max-width: 991px) {
  header .nav__container .nav__toggle-checkbox:not(:checked) ~ .nav__list {
    display: none;
  }
  header .nav__container .nav__toggle-checkbox:checked ~ .nav__list {
    display: flex;
    background-color: black;
    position: fixed;
    z-index: 999;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    margin-top: 330px;
    padding: 4rem 0 4rem;
    width: 100%;
    height: 160px;
  }
  header .nav__container .nav__toggle-checkbox:checked + .nav__toggle-label .nav__toggle-icon::before {
    transform: translateY(0) rotate(90deg);
  }
  header .nav__container .nav__toggle-checkbox:checked + .nav__toggle-label .nav__toggle-icon::after {
    display: none;
  }
  header .nav__container .nav__toggle-checkbox:checked + .nav__toggle-label .nav__toggle-icon {
    transform: translateY(0) rotate(-45deg);
  }
  header .nav__container .nav__toggle-checkbox {
    display: none;
  }
  header .nav__container .nav__toggle-label {
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    z-index: 999;
    order: 2;
  }
  header .nav__container .nav__item::before {
    display: none;
  }
}
@media (min-width: 992px) {
  header .nav__container .nav__toggle-label {
    display: none;
  }
  header .nav__container .nav__list {
    display: flex;
    align-items: center;
    margin-left: 25px;
  }
}

.search {
  width: 30px;
  margin-right: 15px;
  padding: 5px;
  cursor: pointer;
}
@media (max-width: 991px) {
  .search {
    display: none;
  }
}

.searchContent {
  position: absolute;
  background-color: black;
  width: 360px;
  top: 80px;
  right: 0;
  height: 40px;
  color: white;
  padding: 10px;
  display: none;
  border-radius: 0px 0px 10px 10px;
}
.searchContent p {
  font-size: 1.5rem;
}
.searchContent.open {
  display: block;
}

footer {
  background-color: darkslategray;
  padding: 25px 10px;
}
footer .container {
  display: flex;
}
footer .container .footer__content {
  position: relative;
  width: 100%;
  color: white;
  font-weight: 300;
  font-size: 0.875rem;
}
footer .container .footer__content::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: white;
  top: -10px;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 100px;
}
.form-container .form-item {
  margin-bottom: 20px;
}
.form-container .form-item label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}
.form-container .form-item .form-field {
  display: flex;
  align-items: center;
}
.form-container .form-item .form-field .form-field-textual {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
}
.form-container .form-item.checkbox-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.form-container .form-item.checkbox-item label {
  margin-left: 5px;
  color: #333;
}
.form-container .form-item.checkbox-item input[type=checkbox] {
  margin-right: 5px;
}
.form-container .buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.form-container .buttons button {
  padding: 10px 20px;
  background-color: #3b98ee;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
}
.form-container .buttons button[type=reset] {
  background-color: firebrick;
}
.form-container .buttons button[type=reset]:hover {
  background-color: darkred;
}
.form-container .buttons button:hover {
  background-color: #063b69;
}

html {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.container {
  max-width: 1140px;
  margin-inline: auto;
  padding: 0 16px;
}

.welcome {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}
.welcome h1 {
  font-size: 1.25rem;
  color: darkslategray;
}
@media (min-width: 991px) {
  .welcome h1 {
    font-size: 1.75rem;
  }
}
.welcome .todays-date {
  font-size: 1rem;
  color: darkslategray;
}
@media (min-width: 991px) {
  .welcome .todays-date {
    font-size: 1.25rem;
  }
}

main {
  padding-top: 80px;
}

section.news, section.sport, section.culture {
  margin-bottom: 60px;
}
section.news .articles__container, section.sport .articles__container, section.culture .articles__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 991px) {
  section.news .articles__container, section.sport .articles__container, section.culture .articles__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
section.news .articles__container .media_body a, section.sport .articles__container .media_body a, section.culture .articles__container .media_body a {
  text-decoration: none;
  color: darkslategray;
  font-size: 1.5rem;
}
section.news .articles__container .summary, section.sport .articles__container .summary, section.culture .articles__container .summary {
  font-size: 1.125rem;
}
section.news.red-before .section__title::before, section.sport.red-before .section__title::before, section.culture.red-before .section__title::before {
  background-color: firebrick;
}
section.news.yellow-before .section__title::before, section.sport.yellow-before .section__title::before, section.culture.yellow-before .section__title::before {
  background-color: rgb(131, 131, 12);
}
section.news.green-before .section__title::before, section.sport.green-before .section__title::before, section.culture.green-before .section__title::before {
  background-color: green;
}
section .section__title {
  margin-bottom: 15px;
  position: relative;
  padding-left: 10px;
}
section .section__title::before {
  content: "";
  position: absolute;
  left: 0px;
  width: 5px;
  height: 100%;
}
@media (max-width: 991px) {
  section .section__title::before {
    bottom: -5px;
    width: 100px;
    height: 5px;
  }
}

.admin .category-dropdown {
  padding: 15px 0;
}
.admin .category-dropdown select {
  padding: 5px;
}
.admin form {
  padding: 20px;
  position: relative;
  margin-bottom: 40px;
}
.admin form .admin-form-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 5px;
}
@media (min-width: 991px) {
  .admin form .admin-form-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
.admin form .admin-form-content .form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  gap: 5px;
}
@media (min-width: 991px) {
  .admin form .admin-form-content .form-item {
    gap: 10px;
  }
}
.admin form .admin-form-content .form-item .form-field input,
.admin form .admin-form-content .form-item .form-field select {
  padding: 5px;
  border-radius: 10px;
}
.admin form .admin-form-content .form-item .form-field #archive {
  width: 20px;
  height: 20px;
}
.admin form .admin-form-content .form-item .form-field #archive:checked {
  background-color: green;
}
.admin form .form-item button {
  padding: 10px 10px;
  margin: 5px 10px 0px;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
@media (min-width: 991px) {
  .admin form .form-item button {
    padding: 10px 20px;
    font-size: 1.25rem;
    margin: 10px 15px 0;
  }
}
.admin form .form-item button[type=reset] {
  background-color: orange;
  border: none;
  border-radius: 3px;
  color: white;
}
.admin form .form-item button[name=update] {
  background-color: darkslateblue;
}
.admin form .form-item button[name=delete] {
  background-color: crimson;
}
.admin form::before {
  content: "";
  position: absolute;
  left: 10px;
  width: 3px;
  height: 97%;
}
.admin form.red-before::before {
  background-color: firebrick;
}
.admin form.yellow-before::before {
  background-color: rgb(131, 131, 12);
}
.admin form.green-before::before {
  background-color: green;
}/*# sourceMappingURL=main.css.map */